PunClient/Connected Services/WCFPunService/PunService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pun" nillable="true" type="tns:Pun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPun" nillable="true" type="tns:ArrayOfPun" />
  <xs:complexType name="Pun">
    <xs:sequence>
      <xs:element name="_x003C_Joke_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PunID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pun" nillable="true" type="tns:Pun" />
</xs:schema>